* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 100vw;
    height: 100vh;  
    background: linear-gradient(64deg, #0b0009, #b86565, #592c34b8, #7c0202, #000000);
    position: relative;

}

.container {
    background: linear-gradient(38deg, rgb(232 239 234), rgb(255 143 143), #e6d4d4);
    width: 80%;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    right: 10%;
}

.container h2 {
    margin: 5% 0% 0% 0%;
}

#text {
    height: 25px;
    width: 65%;
    margin: 10% 0;
    border-radius: 20px;
    border: none;
    padding-left: 10px;
}

.task-btn {
    height: 27px;
    width: 25%;
    border-radius: 5px;
    background-color: rgb(227 100 100 / 9%);
    color: #091a53eb;
    margin: 10% 0;
}
.task-list{
    
    text-align: left;
    margin: 10px 0px 20px 20px;
}
.task-list li {
    display: flex;
    list-style: none;
    color: white;
    padding: 10px 0px;
    gap: 5%;    
}
.task-list li .remove{ 
    color: black;
    cursor: pointer;
    width: 20%;
}

.task-list li p{
    width: 70%;
    overflow-wrap: anywhere;
    color: black;
    
}
.save, .edit{
    background-color: #e16f6f;
    width: 20%;
    height: 20%;
    text-align: center;
    border: 1px solid #7c1a1a;
    border-radius: 5px;
    color: #070410b8;
}
